
*{
	font-family: 'Rubik', sans-serif;
}
body{
	margin:0;
}
.container{
	display:flex;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow:hidden;
}
.left{
	background-color: #310D31;
	height:100%;
}
.firstbutton{
	background-color: grey;
	padding:15px;
	margin:30px;
	border-radius: 5px;
	border: 3px solid white;
}
.secondbutton{
	background-color: #4A184B;
	padding:15px;
	margin:30px;
	border-radius: 5px;
}
.secondbutton a{
	text-decoration: none;
	color:white;
}
.firstbutton a{
	text-decoration: none;
	color:white;
}
.middle{
	background-color:#4A184B;
	padding:20px;
	color:white;
	height:100%;
}
.middle a{
	color:white;
	text-decoration: none;
}
.channels{
	display:flex;
	flex-direction: column;
}
.titre{
	display:flex;
	justify-content: space-between;
    align-items: center;
}
.right{
	padding:20px;
	width:100%;
}
.title{
	border-bottom:1px solid lightgrey;
	padding:10px;
}
.avatar img{
	width:80px;
	border-radius: 50%;
	padding:20px;
}
.ligne{
	display: flex;
	align-items: center;
}
.ligne a{
	text-decoration:none;
	color:#4A184B;
}
.dialogue{
	height:800px;
	overflow: auto;
}
form{
	width:300px;
}
